<?xml version="1.0" encoding="utf-8" ?>
<!-- The Ponger calls Pong() on the Pinger, and hosts the IPing service -->
<configuration>
  <system.serviceModel>
    <services>
      <service name="PingPong.Service.Ping.PingService" behaviorConfiguration="PingBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ping" />
            <!-- run cmd as admin for permissions `netsh http add urlacl url=http://+:8000/ping user=yourlocaluser` -->
          </baseAddresses>
        </host>
        <!-- endpoint is exposed at address http://localhost:8000/ping -->
        <endpoint address="" binding="wsHttpBinding" contract="PingPong.Contracts.Service.IPing" />
      </service>
    </services>
    <!-- For debugging purposes set the includeExceptionDetailInFaults attribute to true -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="PingBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <client>
      <endpoint name="Pong" address="http://localhost:8000/pong" binding="wsHttpBinding" contract="PingPong.Contracts.Service.IPong" />
    </client>
  </system.serviceModel>
</configuration>